<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    
    <!--Aca termina header y comienza main de la web -->
    <main>
       
    </main>
    <%- include('../partials/footer') %>
</body>

</html>