<!DOCTYPE html>
<html lang="en">
<!--Display de productos todos: productIndex.ejs -->

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <!--Termina header y comienza main de la web -->
    <main class="mainProductIndex">

   <!-- HOME CONTENEDOR 1 -->
   <section class="homeCont1">
    <!--Título-->
    <div class="homeCont1Titulo textoInspira">
      Section name
    </div>
    <!--Imagen-->
    <video autoplay muted loop class="videoCarrousel">
      <source src=".\videos\pexels-mart-production-7884024.mp4" type="video/mp4" />
    </video>

  </section>

        <section class="productIndArticulos">
            <% productInfo.forEach(function(product){ %>
                <%- include('../partials/productCard', {item:product}) %>
              <% }); %>
        </section>
    </main>
    <%- include('../partials/footer') %>

    <script src="/js/header.js"> </script>
</body>

</html>