<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <!--Termina header y comienza main de la web -->
    <main class="mainProductIndex">
        <section class="productIndBarraLat">
            <ul>
                <li class="latEnvioProducto">Envío gratis<i class="fas fa-toggle-on"></i></li>
                <li class="latCuotasProducto">Cuotas sin interés<i class="fas fa-toggle-on"></i></li>
                <li class="latDisponibleProducto">Disponible en local<i class="fas fa-toggle-on"></i></li>
            </ul>

        </section>
        <section class="productIndArticulos">
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
            <article class="tarjetaProducto">
                <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
                <ul>
                    <li class="precioProducto">$32.999</li>
                    <li class="cuotasProducto">12 cuotas sin interés</li>
                    <li class="nombreProducto">Bici fija panther pro</li>
                    <li class="envioProducto">Envío gratis en CABA</li>
                </ul>
            </article>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>