<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda GYM, tu bienestar online</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="mainHeader">
        <!--A partir de acá va la parte superior del header con logo, buscador y login-->
        <div class="mainHeaderTop">
            <img src="./images/tgym_logos-03.png" class="logoPrincipal">
            <nav class="busqueda">
                <p>Buscar en Tienda Gym</p><i class="fas fa-search"></i>
            </nav>
            <nav class="loginCarrito">
                <a href="./login"><i class="fas fa-user-circle">
                    </i></a>
                <a href="./productCart"><i class="fas fa-shopping-cart">
                    </i></a>
            </nav>
        </div>
        <!--A partir de acá va la parte inferior del header con menu para la version desktop -->
        <nav class="mainHeaderBottom">
            <ul class="menuInferior">
                <li>Noticias</li>
                <li>Ofertas</li>
                <li>Hogar</li>
                <li>Empresas</li>
            </ul>
        </nav>
        <!--Dejo botón para versión mobile: -->
        <div class="mainHeaderMobile">
            <a href="#" class=botonMenuMobile>
                <i class="fas fa-dumbbell"></i>
            </a>
        </div>
    </header>
    <!--Aca termina header y comienza main de la web -->
    <main>
        <section class="carrouselHome">
            <!--Aca va foto gigante con carrousel y abajo el "paso a paso de como comprar"-->
            <img src="./images/pexels-lukas-669584.jpg">
            <!-- <img src="./images/logo-wp.png" class="clickToWP"> -->
        </section>
        <section class="instruccionesHome">
            <img src="./images/logo-cart.png">
            <img src="./images/logo-flecha.png">
            <img src="./images/logo-pago.png">
            <img src="./images/logo-flecha.png">
            <img src="./images/logo-delivery.png">
        </section>
        <section class="homeGrillaProductos">
            <article>
                <img src="./images/pexels-karl-solano-2780762.jpg" class="imagenesCategorias">
                <ul>
                    <li>Funcional, pilates y yoga</li>
                </ul>
            </article>
            <article>
                <img src="./images/pexels-victor-freitas-685531.jpg" class="imagenesCategorias">
                <ul>
                    <li>Pesas, discos y barras</li>
                </ul>
            </article>
            <article>
                <img src="./images/pexels-cottonbro-7690207.jpg" class="imagenesCategorias">
                <ul>
                    <li>Máquinas</li>
                </ul>
            </article>
            <article>
                <img src="./images/pexels-cottonbro-4761352.jpg" class="imagenesCategorias">
                <ul>
                    <li>Indumentaria</li>
                </ul>
            </article>
        </section>

        <!--
        <section class="homePreFooter">
                <img src="./images/pexels-mikhail-nilov-6740821.jpg" class="imagenPreFooter">
        </section>
        -->
    </main>
    <footer>
        <!--Aca iría pie de web estandarizado con links y redes-->
        <div class="footerLinks">
            <ul>
                <li>Preguntas frecuentes</li>
                <li>Quienes somos</li>
                <li>Contacto</li>
                <li>Dirección</li>
            </ul>
        </div>
        <div class="redesSociales">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i href=# class="fab fa-facebook"></i></a>
            <a href="#"><i href=# class="fab fa-instagram"></i></a>
        </div>
    </footer>
</body>

</html>