<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda GYM, tu bienestar online</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="mainHeader">
        <!--A partir de acá va la parte superior del header con logo, buscador y login-->
        <div class="mainHeaderTop">
            <img src="./images/tgym_logos-03.png" class="logoPrincipal">
            <nav class="busqueda">
                <p>Buscar en Tienda Gym</p><i class="fas fa-search"></i>
            </nav>
            <nav class="loginCarrito">
                <a href="./login"><i class="fas fa-user-circle">
                    </i></a>
                    <a href="./carrito"><i class="fas fa-shopping-cart">
                    </i></a>
            </nav>
        </div>
        <!--A partir de acá va la parte inferior del header con menu para la version desktop -->
        <nav class="mainHeaderBottom">
            <ul class="menuInferior">
                <li>Noticias</li>
                <li>Ofertas</li>
                <li>Hogar</li>
                <li>Empresas</li>
            </ul>
        </nav>
    <!--Dejo botón para versión mobile: -->
        <a href="#" class=botonMenuMobile>
            <i class="fas fa-dumbbell"></i>
        </a>
    </header>
    <!--Aca termina header y comienza main de la web -->
    <main>
        <section>
            <!--Aca va foto gigante con carrousel y abajo el "paso a paso de como comprar"-->
        <img src="./images/pexels-victor-freitas-841130.jpg" class="carrouselPrincipalHome">
        </section>
        <section class="homeGrillaProductos">
            <header>
                <!--Aca iría titulo alternativo seccion homepage-->
            </header>
            <article>
                <video autoplay muted loop class="videosCategorias">
                        <source src="./images/vid-cinta-1596861.mp4" type="video/mp4">
                </video>
                <ul>
                    <li>Funcional, pilates y yoga</li>
                </ul>
            </article>
            <article>
                <img src="./images/cintaCorrer.jpg">
                <ul>
                    <li>Pesas, discos y barras</li>
                </ul>            </article>
            <article>
                <img src="./images/cintaCorrer.jpg">
                <ul>
                    <li>Máquinas</li>
                </ul>            </article>
            <article>
                <img src="./images/cintaCorrer.jpg">
                <ul>
                    <li>Indumentaria</li>
                </ul>            
            </article>
        </section>
    </main>
    <footer>
        <!--Aca iría pie de web estandarizado con links y redes-->
        <ul class="footerLinks">
            <li>Preguntas frecuentes</li>
            <li>Quienes somos</li>
            <li>Contacto</li>
            <li>Dirección</li>
        </ul>
        <section class="redesSociales">
            <h5>Siguenos</h5>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-whatsapp-square"></i>
        </section>
    </footer>
</body>

</html>