<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda GYM, tu bienestar online</title>
    <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="headerLogo"> Logo </div>
        <nav>
            <!--Aca va menu de navegacion (no lo pusimos en el wireframe)-->
        </nav>
    </header>
    <main>
        <section>
            <!--Aca va foto gigante con carrousel y abajo el "paso a paso de como comprar"-->
        </section>
        <section>
            <header>
                <!--Aca iría titulo alternativo seccion homepage-->
            </header>
            <article>
                <!--1 Aca iría cada artículo de la homepage-->
            </article>
            <article>
                <!--2 Aca iría cada artículo de la homepage-->
            </article>
            <article>
                <!--3 Aca iría cada artículo de la homepage-->
            </article>
            <article>
                <!--4 Aca iría cada artículo de la homepage-->
            </article>
            <article>
                <!--5 Aca iría cada artículo de la homepage-->
            </article>
            <article>
                <!--6 Aca iría cada artículo de la homepage-->
            </article>
            <article>
                <!--7 Aca iría cada artículo de la homepage-->
            </article>
            <article>
                <!--8 Aca iría cada artículo de la homepage-->
            </article>
        </section>
    </main>
    <footer>
        <!--Aca iría pie de web estandarizado con links y redes-->
    </footer>
</body>

</html>