<!DOCTYPE html>
<html lang="en">

    <!-- Header importado -->
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <!--Main -->
    <main>
        <article>
            <img src="./images/pexels-karl-solano-2780762.jpg" class="imagenesCategorias">
            <ul>
                <a href="./productIndex"> <li>Ingresar un nuevo producto</li> </a>
            </ul>
        </article>
    </main>
    
    <!-- Footer importado -->
    <%- include('./partials/footer') %>
</body>

</html>