<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda GYM, tu bienestar online</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="mainHeader">
        <!--A partir de acá va la parte superior del header con logo, buscador y login-->
        <div class="mainHeaderTop">
            <img src="./images/tgym_logos-03.png" class="logoPrincipal">
            <nav class="busqueda">
                <p>Buscar en Tienda Gym</p><i class="fas fa-search"></i>
            </nav>
            <nav class="loginCarrito">
                <a href="#"><i class="fas fa-user-circle">
                    </i></a>
                    <a href="./carrito"><i class="fas fa-shopping-cart">
                    </i></a>
            </nav>
        </div>
        <!--A partir de acá va la parte inferior del header con menu para la version desktop -->
        <nav class="mainHeaderBottom">
            <ul class="menuInferior">
                <li>Noticias</li>
                <li>Ofertas</li>
                <li>Hogar</li>
                <li>Empresas</li>
            </ul>
        </nav>
    <!--Dejo botón para versión mobile: -->
        <a href="#" class=botonMenuMobile>
            <i class="fas fa-dumbbell"></i>
        </a>
    </header>
    <!--Aca termina header y comienza main de la web -->
    <main>
        <!---->
        <h1 class="tituloProducDetail">Bicicleta fija Panther Pro BF102 para spinning negra y roja</h1>
        <header class="productDetailMobile">
        <article class="imagenProd">
            <img src="/img/biciFijaPanther4.jpg" alt="no hay imagen disponible">
        </article>
        <section class="produCarat">
        <article class="mediosProduc">
            <p>$ 26.999</p>
            <p>en 12x $3.829</p>
            <p class="parrDestacado">ver medios de pagos</p>
        </article>
        <article class="stockProduc">
            <h3>Stock disponible</h3>
            <p>cantidad: 1<i class="fas fa-chevron-right"></p></i>
        </article>
        <article class="finalizarProd">
            <h5 class="comprar">Comprar</h5>
            <h5 class="add">Agregar al carrito</h5>
            <h5 class="rebaja">Cupón de descuento </h5>
        </article>
        <article class="servicioDetai">
            <i class="fas fa-truck"></i><p>Formas de envio</p>
        </article>
        <article class="servicioDetai">
            <i class="fas fa-exchange-alt"></i><p>Garantia</p>
        </article>
        </section>
        <!---->
        <section class="descripProd">
        <!---->
        <article class="subTituloProd">
            <h4>Sobre este producto</h4>
        </article>
        
            <ul class="listaProd">
                <li>Sistema de resistencia mecánica que se maneja desde la perilla de ajuste.</li>
                <li>Incluye computadora con múltiples funciones.</li>
                <li>Soporta hasta 100kg.</li>
                <li>El asiento se ajusta verticalmente.</li>
                <li>El manubrio se adapta a las necesidades de quien lo usa.</li>
                <li>Su estructura es de acero.</li>
                <li>Para entrenar si impacto y mejorar la salud integral.</li>
            </ul>
    
        <article class="subTituloProd">
            <h4>Características de Panther Pro BF102</h4>
        </article>
        <article class="okProduc">
            <i class="far fa-check-circle"></i><p>Tipo de bicicleta fija: <b>Spinning</b></p>
        </article>
        <article class="okProduc">
            <i class="far fa-check-circle"></i><p>Tipo de resistencia: <b>Mecánico</b></p>
        </article>
        <article class="okProduc">
            <i class="far fa-check-circle"></i><p>Peso máximo soportado: <b>100 kg</b></p>
        </article>
        <article class="okProduc">
            <i class="far fa-check-circle"></i><p>Con computadora: <b>Sí</b></p>
        </article>
        </section>
        </header>
         <!--DESDE ACA COMIENZA LA VERSION DESKTOP-->
      <section class="contenedorCentralProductDesk">  
         <header class="deskProduct">
             <section class="perfilProductDesk">
            <article class="imgDetailDesk"> 
                <img src="/img/biciFijaPanther4.jpg" alt="no se encontro la imagen">
            </article>

            <article class="subTituloProdDesk">
                <h4>Características de Panther Pro BF102</h4>
            </article>
        <header class="caracDesk">
            <section class="caracDesk1">
            <article class="okProducDesk">
                <i class="far fa-check-circle"></i><p>Tipo de bicicleta fija: <b>Spinning</b></p>
            </article>
            <article class="okProducDesk">
                <i class="far fa-check-circle"></i><p>Tipo de resistencia: <b>Mecánico</b></p>
            </article>
            </section>
            <section  class="caracDesk2">
            <article class="okProducDesk">
                <i class="far fa-check-circle"></i><p>Peso máximo soportado: <b>100 kg</b></p>
            </article>
            <article class="okProducDesk">
                <i class="far fa-check-circle"></i><p>Con computadora: <b>Sí</b></p>
            </article>
            </section>
        </header>

        <header  class="sobreElProducDesk0">
        <section class="sobreElProducDesk">
            <article>
                <h5 class="subTituloSobreDesk">Características generales</h5>
            </article>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Marca:</p>
                <p class="sobreElProducDeskP1">Panther Pro</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Model:</p>
                <p class="sobreElProducDeskP1">BF102</p>
            </section>
            <article>
                <h5 class="subTituloSobreDesk">Confort</h5>
            </article>
            <section class="sobreElProducDesk1 formDesk">
               <p class="sobreElProducDeskP">Con manubrio ajustable</p>
                <p class="sobreElProducDeskP1">Si</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Con asiento ajustable</p>
                <p class="sobreElProducDeskP1">Si</p>
            </section>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Con correa de pedal ajustable</p>
                <p class="sobreElProducDeskP1">Si</p>
            </section>
            <article>
                <h5 class="subTituloSobreDesk">Tecnología</h5>
            </article>
            <section class="sobreElProducDesk1 formDesk">
               <p class="sobreElProducDeskP">Con computadora</p>
                <p class="sobreElProducDeskP1">Si</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Funciones de la computadora</p>
                 <p class="sobreElProducDeskP1">Calorias. Distancias. Scan</p>
             </section>
 

        </section>

        <section class="sobreElProducDesk01">
            <article>
                <h5 class="subTituloSobreDesk">Especificaciones</h5>
            </article>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Tipo de bicicleta</p>
                <p class="sobreElProducDeskP1">Spinning</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Tipo de resisten</p>
                <p class="sobreElProducDeskP1">Mecanico</p>
            </section>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Peso máximo soportado</p>
                <p class="sobreElProducDeskP1">100 kg</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Peso del volante de inercia</p>
                <p class="sobreElProducDeskP1">5 kg</p>
            </section>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Material de la estructura</p>
                <p class="sobreElProducDeskP1">Acero</p>
            </section>
            <article>
                <h5 class="subTituloSobreDesk">Peso y dimensiones</h5>
            </article>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Largo</p>
                <p class="sobreElProducDeskP1">85 cm</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Ancho</p>
                <p class="sobreElProducDeskP1">45 cm</p>
            </section>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Largo</p>
                <p class="sobreElProducDeskP1">85 cm</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Altura</p>
                <p class="sobreElProducDeskP1">102 cm</p>
            </section>
            <section class="sobreElProducDesk1 formDesk">
                <p class="sobreElProducDeskP">Largo</p>
                <p class="sobreElProducDeskP1">85 cm</p>
            </section>
            <section class="sobreElProducDesk1 firmDesk1">
                <p class="sobreElProducDeskP">Peso</p>
                <p class="sobreElProducDeskP1">100 cm</p>
            </section>
           
        </section>
      
        </header>
             <article class="otrosProductDetailDesk">
                  <h3>Otros Productos</h3>
              </article> 




        </section>
             <section class="tituloProducDesk">
                 <article>
                     <h1>Bicicleta fija Panther Pro BF102 para spinning negra y roja</h1>
                 </article>
                 <article class="mediosDtailDesk">
                    <p class="contado">$ 26.999</p>
                    <p>en 12x $3.829</p>
                    <p class="parrDestacado">ver medios de pagos</p>
                </article>
                <article class="stockDetailDesk">
                    <h3>Stock disponible</h3>
                   <form action="/cantidad" method="GET">
                    <label>Cantidad:</label>
                    <select name="cantidad">
                        <option value="1">1 unidad</option>
                        <option value="2">2 unidad</option>
                        <option value="3">3 unidad</option>
                        <option value="4">4 unidad</option>
                    </select>
                </form>
                 </article>
                <article class="finalizarProdDesk">
                    <h5 class="comprarDesk">Comprar</h5>
                    <h5 class="addDesk">Agregar al carrito</h5>
                    <h5 class="rebajaDesk">Cupón de descuento </h5>
                </article>

                <article class="servicioDetaiDesk">
                    <i class="fas fa-truck"></i><p>Formas de envio</p>
                </article>
                <p>Envios a todo el país</p>
                <article class="servicioDetaiDesk">
                    <i class="fas fa-exchange-alt"></i><p>Garantia</p>
                </article>
                <p>Garantía de fábrica: 12 meses</p>

                <article class="imgTarjetasDesk">
                    <img src="/img/todasLasTarjetas.jpg" alt="no se encontro la imagen">
                </article>

             </section>
         </header>
        
       </section> 
     

       
    </main>
    <footer>
        <!--Aca iría pie de web estandarizado con links y redes-->
        <ul class="footerLinks">
            <li>Preguntas frecuentes</li>
            <li>Quienes somos</li>
            <li>Contacto</li>
            <li>Dirección</li>
        </ul>
        <section class="redesSociales">
            <h5>Siguenos</h5>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-whatsapp-square"></i>
        </section>
    </footer>
</body>

</html>