/* >>> Recordar que en la style.css hay un reset de margin, padding y border-box a 0 */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile: */

/*<!-- Aca va foto gigante con carrousel y abajo el "paso a paso de como comprar" -->*/


.carrouselHome{
    display: none;
}

.instruccionesHome{
    display: none;
}

/*<-- A partir de acá va el main de la homepage con la grilla de productos en oferta -->*/

.homeGrillaProductos{
    display: flex;
    flex-wrap: wrap;
}

.homeGrillaProductos article{
    background-color: rgba(255, 255, 255, 0.384);
    display: inline-block;
    border-radius: 10px;
    border-color: rgb(163, 163, 163);
    border-width: 0.5px;
    border-style: solid;
    min-width: 350px;
    max-height: 200px;
    width: 90vw;
    margin: 10px auto 10px auto;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    transition: 1s;
}

.homeGrillaProductos article:hover{
    background-color: rgba(255, 255, 255, 0);  
}

.homeGrillaProductos ul{
    position: relative;
    top: -50px;
}

.homeGrillaProductos ul li{
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    list-style: none;
    text-shadow: 2px 2px 4px black;
}

.imagenesCategorias {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    object-fit: cover;
    border-radius: 10px;
    z-index: -10;
  }

  .homePreFooter{
      display: none;
  }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablet: */
@media (min-width: 481px){



}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu normal: */
@media (min-width: 769px){

    .carrouselHome{
        display: block;
        max-height: 300px;
        width: 100vw;   
        top: 138px;
        overflow: hidden;
        z-index: -20;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    }

    .carrouselHome img{
        max-width: 100%;
    }

    .instruccionesHome{
        background-color: #ebebeb;
        display: flex;
        justify-content: space-around;
        border-radius: 10px;
        border-color: rgb(228, 228, 228);
        border-width: 0.5px;
        border-style: solid;
        min-width: 350px;
        height: 100px;
        width: 90vw;
        margin: 20px auto 10px auto;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    }
    
    .instruccionesHome img{
        padding: 20px 20px;
        opacity: 0.8;
    }

    .homePreFooter{
        display: block;
        max-height: 300px;
        width: 100vw;   
        overflow: hidden;
        z-index: -20;
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    }
    
      .homePreFooter img{
          max-width: 100%;
      }
      .imagenPreFooter{
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        object-fit: cover;
        z-index: -10;
    }
    
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu muy grande: */
@media (min-width: 1280px){



}
