/* >>> Recordar que en la style.css hay un reset de margin, padding y border-box a 0 */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile: */

/*aqui desarrollare el main del detalle del producto para version mobile*/

.deskProduct{
    display: none;
}



.tituloProducDetail{
    margin: 10px;
    font-size: 20px;
    border-top: solid 1px grey;
    padding: 5px;
}

.productDetailMobile{
    margin-left: 10px;
    margin-right: 10px;
}
.produCarat{
   margin: 10px;
    color: black;
}

.imagenProd{
   text-align: center;
   background-color: white;
   margin: none;
}

.imagenProd img{
    width: 200px;
    height: 200px;
    margin: 5px;
}

.mediosProduc{
    line-height: 20px;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.precioPrductMobile{
    font-size: 25px;
    margin-bottom: 10px;
}

.cuotasProductMobile{
    font-size: larger;
    margin-bottom: 10px;
}

.parrDestacado{
    color: blue;
    font-size:20px;
}

.stockProduc{
    margin-top: 30px;
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
}
.stockProduc p{
    margin: auto;
    margin-top: 10px;
    width: 90%;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

.stockProduc i{
    text-align: left;
}

.finalizarProd{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;

}


.comprar{
    width: 90%;
    height: 40px;
    background-color: rgb(183, 226, 243);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

 a {
    text-decoration: none;
}


 .add{
   width: 90%;
   height: 40px;
   background-color: blue;
   margin: auto;
   padding: 10px;
   border-radius: 10px;
   margin-top: 10px;
   color: white;
}

 .rebaja{
   width: 90%;
   height: 40px;
   background-color: rgb(183, 226, 243);
   margin: auto;
   padding: 10px;
   border-radius: 10px;
   margin-top: 10px;
    color: black;
}

.servicioDetai{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    color: blue;
    font-weight: bold;
}

.servicioDetai i{
    margin-right: 10px;
}

.descripProd{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-top: solid 1px rgba(0,0,0,0.2);
    font-size: 17px;
    font-weight: bold;
}

.subTituloProd h4{
   margin-bottom: 20px;
   margin-top: 20px;
}


.listaProd{
   border-bottom: solid 1px rgba(0,0,0,0.2);
   margin-top: 10px;
   
}

.listaProd li{
    margin-left:10px;
    margin-bottom: 20px;
    line-height: 20px;
}

.okProduc{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}
.okProduc i{
    display: flex;
    margin-right: 10px;    
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablet: */
@media (min-width: 481px){



}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu normal: */
@media (min-width: 769px){

/*aqui desarrollare el main del detalle del producto para version Desktop*/



.productDetailMobile{
    display: none;
}

.tituloProducDetail{
    display: none;
}

.contenedorCentralProductDesk{
    width: 100%;
    background-color: #cbe5f1;
    padding: 40px;
}

.deskProduct{
    display: flex;
    justify-content:space-around;
    
    
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: white;
  
}

.perfilProductDesk{
    display: flex;
    flex-direction: column;
    
    
}
.tituloProducDesk{
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
    border-left: solid 1px rgba(0,0,0,0.2);
   
}
.tituloProducDesk h1{
    color: black;
    margin-left: 10px;
    font-size: 25px;
}

.imgDetailDesk{
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.imgDetailDesk img{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.mediosDtailDesk{
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    

}

.contado{
    font-size: 30px;
}

.stockDetailDesk{
    margin-left: 10px;
    margin-top: 40px;
}

.stockDetailDesk h3{
    color: black;
    line-height: 35px;
}

.stockDetailDesk label{
    color: black;
    font-size: 20px;
}

.stockDetailDesk select{
    color: black;
    font-size: 16px;
}

.finalizarProdDesk{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    padding-bottom: 50px;
}


 .comprarDesk{
    width: 80%;
    height: 40px;
    background-color: rgb(86, 86, 252);
    margin:auto;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
 }

 .comprarDesk:hover{
    background-color: blue ;
 }




 .addDesk{
    width: 80%;
    height: 40px;
    background-color:rgb(191, 229, 236);
    margin:auto;
    padding: 10px;
    color: blue;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
 }

 .addDesk:hover{
     background-color: rgb(65, 214, 240)  ;
 }


 .rebajaDesk{
    width: 80%;
    height: 40px;
    background-color: rgb(86, 86, 252);
    margin:auto;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
 }

 .rebajaDesk:hover{
     background-color: blue;
     
 }

 .imgTarjetasDesk{
   text-align: center;
   margin-top: 50px;
 }

 .imgTarjetasDesk img{
    width: 80%;
 }

 .servicioDetaiDesk{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    width: 90%;
    height: 30px;
 }

 .servicioDetaiDesk i{
    margin-right: 10px;
    margin-top: 5px;
 }

 .subTituloProdDesk h4{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
 }

 .caracDesk{
     display: flex;
 }

 .caracDesk1{
     margin-left: 30px;
 }

 .caracDesk2{
    margin-left: 60px;
}

 .okProducDesk{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
 }

 .okProducDesk i{
    display: flex;
    margin-right: 10px; 
 }


 .sobreElProducDesk0{
     display: flex;
     width: 95%;
    margin-left: 30px;
    margin-top: 30px;
    
    
 }
 
 .formSobreDesk{
    flex-grow: 0.25;
 }

 .subTituloSobreDesk1{
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .sobreElProducDesk{
   
    margin-right: 5px;
    width: 50%;
   
 }

 
 .sobreElProducDesk01{
  
    margin-right: 30px;
    width: 50%;
    
 }

 .sobreElProducDesk1{
     display: flex;
 }

 .formDesk{
     background-color: #dbd7d7;
     border: solid 0.5px #dbd7d7;
 }

 .firmDesk1{
    border: solid 0.5px rgba(0,0,0,0.1);
 }

 .sobreElProducDeskP{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .sobreElProducDeskP1{
     margin-left: 100px;
     width: 40%;
     margin-top: 10px;
     margin-bottom: 10px;
 }
    .otrosProductDetailDesk{
        margin: auto;
        margin-top: 40px;
        margin-bottom: 30px;
    }



}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu muy grande: */
@media (min-width: 1280px){
    .botonMenuMobile{
        display: none;
    }


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu muy grande: */
@media (min-width: 1280px){

    .deskProduct{
        max-width: 1200px;
    }

}