/* >>> Recordar que en la style.css hay un reset de margin, padding y border-box a 0 */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile: */

/*aqui desarrollare el main del carrito de compra para version mobile*/

.contendeorProductCart{
    width: 90%;
    margin: auto;
}

.controlador{
  
    text-align: center;
    line-height: 40px;
    background-color: #dad8d8;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
      
 }

 .nomProCart{
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    font-weight: 400;
 }
 
 .imagenP img {
     width: 150px;
     height: 150px;
     margin: auto;
     border: solid 5px grey;
 }

 .desProduCart{
     background-color: white;
     width: 80%;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 10px;
 }
 .masCantCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }

 .contComprandoCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }
 .descuentoCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }

 .cupon{
     display: none;
 }

 .precioCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }

 .medioDePago{
     width: 90%;
     background-color: #dad8d8;
     margin: auto;
     padding: 10px;
     text-align: center;
     border-radius: 10px;
     line-height: 30px;
     font-weight: bold;
 }
 
 
 .pago{
     display: block;
     background-color: white;
     width: 80%;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 10px;
     
 }

 .totaCart{
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 1px black;
}
 .retiro{
     display: block;
 }
 
 .buttonCart button{
     display: block;
     margin: auto;
     width: 70px;
     height: 40px;
     border-radius: 10px;
     font-weight: bold;
     background-color: #7e7ef1;
 }

 .buttonCart button:hover{
     background-color: blue;
 }

 .MasPromoCart{
     text-align: center;
 }

 .controlDesktop{
     display: none;
 }
 



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablet: */
@media (min-width: 481px){



}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu normal: */
@media (min-width: 769px){

/*aqui desarrollare el main del carrito de compra para version desktop*/


    .controlador{
        display: none;
    }

    /*acá va el diseño de las tarjetas ohorizontales de productos*/

    .controlDesktop{
        display: flex;
        flex-wrap: wrap;
        background-color:#dad8d8;
        margin: auto;
        margin-bottom: 10px;
        width: 90%;
        justify-content: space-around;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .imgProdCart2{
        width: 100px;
        height: 100px;
        display: flex;
        margin: auto;
        border: solid 0.5px grey;
        border-radius: 10px;
    }
    
    .descrProd{
        display: inline-block;
        width: 30%;
        height: 10%; 
        margin: auto;
    }
    
    .descrProd p{
        font-size: 14px;
        font-weight: 200;
    }
    
    .cantidadCart{
        display: flex;
        width: 60px;
        height: 60px;
        background-color: white;
        margin: auto;
        border-radius: 10px;
    }
    
    .cantidadCart p{
        margin: auto;
        font-size: 15px;
        font-weight: 600;
    }
    
    .cantidadCart i{
        margin: auto;
        font-size: 10px;
        color: rgb(53, 53, 53);
      
    }
    
    .totCartApertura{
        display: flex;
        flex-direction: column;
        width: 150px;
        background-color: white;
        margin: 20px auto;
        line-height: 25px;
        border-radius: 10px;
    }   
    
    .totCartApertura p{
        margin-left: 3px;   
    }

    .totCartPrecioParcial{
        font-size: 18;
        font-weight: 400;
    }

    .totCartPrecioDescuento{
        font-size: 14;
        font-weight: 200;
    }

    .totCartPrecioIva{
        font-size: 12;
        font-weight: 100;
    }

    .totCartPrecioEnvio{
        font-size: 12;
        font-weight: 100;
    }

    /* ^ acá termina la caja gris de producto ^ */

    .eliminarProduct{
        width: 90%;
        margin: auto;
        font-weight: bold;
    }
        
    .contCompra{
        display: inline-block;
        width: 100px;
        height: 40px;
        background-color: white;
        margin-top: 30px;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
    }
    .cupon{
        width: 90%;
        display: block;
        text-align: right;
        margin: auto;
        font-weight: bold;
     

    }
    
    .totaCart{
        width: 90%;
        background-color: white;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: solid 1px black;
    }
    
    .totaCart h3{
        margin-left: 10px;
    }

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu muy grande: */
@media (min-width: 1280px){

    .contendeorProductCart{
        max-width: 1200px;
    }

}