/* >>> Recordar que en la style.css hay un reset de margin, padding y border-box a 0 */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile: */

.productIndArticulos{
    max-width: 1000px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productIndArticulos article{
    background-color: rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    border-color: rgb(163, 163, 163);
    border-width: 0.5px;
    border-style: solid;
    width: 200px;
    height: 240px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
}

.productIndArticulos article ul{
    height: 50%;
}

.productIndArticulos article ul li{
    display: inline-block;
    list-style: none;
    margin: 2px auto;
    font-size: 12px;
}

.imagenProducto{
    display: inline-block;
    width: 100%;
    height: 50%;
    margin: 2px auto;
}
.imagenProducto img{
    display: inline-block;
    height: 90%;
    margin: 0 auto;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablet: */
@media (min-width: 481px){



}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu normal: */
@media (min-width: 769px){

.mainProductIndex{
    margin-left: 200px;
}

.productIndBarraLat{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: -50;
    top: 0;
    left: 0;
    background-color: #022B3A;
    overflow-x: hidden;
    padding-top: 105px;
}

.productIndBarraLat div{
    color:white;
    text-align: center;
    font-size: 12px;
}


}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu muy grande: */
@media (min-width: 1280px){



}