/* >>> Style reset: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* >>> Acá tener en cuenta el mobile first: */

header{
   
    background-color: #022B3A;
}
.navecion{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.headerLogo{
    width: 40px;
    height: 40px;
    background-color: red;
    display: flex;
    

}

.busqueda{
    width: 200px;
    height: 25px;
    background-color: white;
    margin-top: 5px;
    display: flex;
}

.loginCarrito{
    display: flex;
    
    
    
}




footer{
  
    background-color: #1F7A8C;
    position: relative;
    top: 1500px;
}

/* >>> Tablet: */
@media (min-width: 481){


}

/* >>> Compu normal: */
@media (min-width: 769){


}

/* >>> Compu muy grande: */
@media (min-width: 1280px){


}