/* >>> Style reset: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist', sans-serif;
}

/* >>> Acá tener en cuenta el mobile first: */

/*<-- A partir de acá va la parte superior del header con logo, buscador y login -->*/

body{
    background-color: #022B3A;
}

.mainHeaderTop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #022B3A;
}

.logoPrincipal{
    width: 250px;
}

.busqueda{
    width: 35%;
    min-width: 210px;
    height: 25px;
    background-color: white;
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    border-radius: 10px;
}

.busqueda i{
  margin: auto;
  margin-right: 10px;
}

.busqueda p{
    margin-left: 10px;
    margin-top: 5px;
} 

.loginCarrito{
    display: flex;  
    color: white;
    padding: 5px 10px 5px 5px;
}

.loginCarrito i{
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    color: white;
}

.botonMenuMobile{
    font-size: 22px;
    background-color: #1F7A8C;
    color: #022B3A;
    display: block;
    max-width: 40px;
    padding: 6px 0;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 6px;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.73); 
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.73);
}

/*<-- A partir de acá va la parte inferior del header con menu para la version desktop -->*/

.mainHeaderBottom{
    display: none;
}

/*<!-- Aca va foto gigante con carrousel y abajo el "paso a paso de como comprar" -->*/

.carrouselPrincipalHome{
    width: 100vw;
    object-fit: cover;
    height: 40%;
}

/*<-- A partir de acá va la parte footer -->*/

footer{
    background-color: #e1e5f2;
}


.footerLinks{
    text-align: center;
    list-style: none;
    font-size: 12px;
}

.redesSociales{
    text-align: center;
}



/*aqui desarrollare el main del carrito de compra para version mobile*/
.controlador{
  
    text-align: center;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.692);
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
      
 }

 .nomProCart{
     text-align: center;
    padding: 10px;
 }
 
 .imagenP img {
     width: 150px;
     height: 150px;
     margin: auto;
     border: solid 5px grey;
 }

 .desProduCart{
     background-color: white;
     width: 80%;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 10px;
 }
 .masCantCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }

 .contComprandoCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }
 .descuentoCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }

 .cupon{
     display: none;
 }

 .precioCart{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
 }

 .medioDePago{
     width: 90%;
     background-color: rgba(255, 255, 255, 0.692);
     margin: auto;
     padding: 10px;
     text-align: center;
     border-radius: 10px;
     line-height: 30px;
 }
 
 
 .pago{
     display: block;
     background-color: white;
     width: 80%;
     margin: auto;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 10px; 
 }

 .totaCart{
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
 .retiro{
     display: block;
 }
 
 .buttonCart button{
     display: block;
     margin: auto;
     width: 70px;
     height: 40px;
     border-radius: 10px;
 }

 .MasPromoCart{
     text-align: center;
 }

 .controlDesktop{
     display: none;
 }
 


 /*aqui desarrollare el main del detalle del producto para version mobile*/

 .deskProduct{
     display: none;
 }
 .tituloProducDetail{
     margin: 10px;
     font-size: 20px;
     border-top: solid 1px grey;
     padding: 5px;
 }

 .produCarat{
    margin: 10px;
     color: grey;
 }

 .imagenProd{
    text-align: center;
    background-color: white;
    margin: none;
 }

 .imagenProd img{
     width: 200px;
     height: 200px;
     margin: 5px;
 }

 .mediosProduc{
     line-height: 20px;
     display: inline-block;
 }
 .parrDestacado{
     color: rgb(183, 226, 243);
 }

 .stockProduc{
     margin-top: 25px;
     margin-bottom: 25px;
 }
 .stockProduc p{
     margin: auto;
     margin-top: 10px;
     width: 90%;
     background-color: white;
     padding: 5px;
     border-radius: 10px;
     color: black;
     font-weight: bold;
 }

 .stockProduc i{
     text-align: left;
 }

 .finalizarProd{
     text-align: center;
     margin-bottom: 20px;
 }

 .finalizarProd .comprar{
     width: 90%;
     background-color: rgb(183, 226, 243);
     margin: auto;
     padding: 5px;
     border-radius: 10px;
 }

 .finalizarProd .add{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
 }

 .finalizarProd .rebaja{
    width: 90%;
    background-color: rgb(183, 226, 243);
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
 }

 .servicioDetai{
     display: flex;
     flex-wrap: nowrap;
     margin-bottom: 5px;
 }

 .servicioDetai i{
     margin-right: 10px;
 }

 .descripProd{
     color: rgb(183, 226, 243);
     margin-left: 10px;
     margin-right: 10px;
     border-top: solid 1px rgb(183, 226, 243);
 }

 .subTituloProd h4{
    margin-bottom: 10px;
    margin-top: 10px;
 }

 
 .listaProd{
    border-bottom: solid 1px rgb(183, 226, 243);
    
 }

 .listaProd li{
     margin-left:10px;
     margin-bottom: 10px;
     line-height: 20px;
 }

 .okProduc{
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 10px;
     
 }
 .okProduc i{
     display: flex;
     margin-right: 10px;    
 }

 


/* >>> Tablet: */
@media (min-width: 481px){
    .botonMenuMobile{
        display: none;
    }
}

/* >>> Compu normal: */
@media (min-width: 769px){

/*<-- A partir de acá va la parte superior del header con menu para la version desktop -->*/
.mainHeaderTop{
    flex-direction: row;
}

/*<-- A partir de acá va la parte inferior del header con menu para la version desktop -->*/
.mainHeaderBottom{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    background-color: #1F7A8C;
}
.mainHeaderBottom ul{
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: #e1e5f2;
    display: flex;
    padding: 5px 0;
    }
.mainHeaderBottom li{
    padding: 2px 6px 4px 6px ;
}
.botonMenuMobile{
    display: none;
}

/*<-- A partir de acá va la parte footer para la versión desktop -->*/

.footer{
    display: flex;
    justify-content: space-around;
}


/*aqui desarrollare el main del carrito de compra para version desktop*/

.controlador{
    display: none;
}
.controlDesktop{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.692);
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    justify-content: space-between;
    border-radius: 10px;

   
}
.imgProdCart2{
    width: 100px;
    height: 100px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: solid 3px grey;
}

.descrProd{
    display: flex;
    width: 30%;
    height: 10%; 
    margin-top: 40px; 
}

.descrProd p{
    font-weight: bold;
}

.cantidadCart{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: white;
    margin-top: 20px;
}

.cantidadCart p{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.cantidadCart i{
    margin-top: 20px;
  
}

.contCompra{
    display: flex;
    width: 100px;
    height: 40px;
    background-color: white;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
 
}



.total{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: white;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 25px;
    border-radius: 10px;
}

.total h5{
    margin-left: 3px;
}

.cupon{
    display: block;
    text-align: right;
    margin-right:40px ;
    font-weight: bold;
}

.totaCart{
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.totaCart h3{
    margin-left: 10px;
}


/*aqui desarrollare el main del detalle del producto para version Desktop*/

.productDetailMobile{
    display: none;
}

.tituloProducDetail{
    display: none;
}

.deskProduct{
    display: flex;
    justify-content:space-around;
  
}

.perfilProductDesk{
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    
}
.tituloProducDesk{
    display: flex; 
    flex-direction: column;
    border: solid 1px white;

}
.tituloProducDesk h1{
    color: white;
    margin-left: 10px;
}

.imgDetailDesk{
    text-align: center;
}

.imgDetailDesk img{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.mediosDtailDesk{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.contado{
    font-size: 30px;
}

.stockDetailDesk{
    margin-left: 10px;
}

.stockDetailDesk h3{
    color: rgb(183, 226, 243);
}





}










/* >>> Compu muy grande: */
@media (min-width: 1280px){
    .botonMenuMobile{
        display: none;
    }

}






