/* >>> Style reset: */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* >>> Acá tener en cuenta el mobile first: */

header{
    height: 60px;
    width: 1020px;
    background-color: #022B3A;
}

footer{
    height: 120px;
    width: 1020px;
    background-color: #1F7A8C;
    position: relative;
    top: 1500px;
}

/* >>> Tablet: */
@media (min-width: 481){


}

/* >>> Compu normal: */
@media (min-width: 769){


}

/* >>> Compu muy grande: */
@media (min-width: 1280px){


}