<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no econtrada</title>
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <section class="errorClass">
    <h1 class="tituloError">Esta página no esta disponible </h1>
    <h2 class="descripError">Es posible que el enlace esté roto o que se haya eliminado la página.</h2>
    <h2 class="descripError"> Verifica que el enlace que quieres abrir es correcto.</h2>
    <a href="/"><h3 class="volerError">Volver a Home</h3></a>
</section>
</body>
</html>