.mainProductIndex{
    margin-top: 150px;
  
}

.titleAllProducts{
    font-size: 20px;
    font-weight: bold;
    color:black;
}

.editProduct{
   padding: 10px;
   cursor: pointer;
}

.deleteProdutc{
    padding: 10px;
    margin-left: 110px;
    margin-top: 5px;
    cursor: pointer;
}

.allproductConteinerCard{
    margin: auto;
    margin-bottom: 100px;
}