
.cart th{
    padding: 10px;
}

.btn {
    background-color: rgb(235, 229, 217);
    width: 240px;
    position: absolute;
    right: 20px;
    top:70px;
    display: none;
  }

  .cart {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
  }
  .definirCompra{
      display: flex;
      justify-content:space-evenly;
  }

  .definirCompra h6{
      font-size: 15px;
      color: white;
     
  }

  .comparA{
      background-color: blue;
      border-radius: 3px;
      padding: 5px;
      
  }

  .eliminarA{
      background-color: red;
      border-radius: 3px;
      padding: 5px;
  }
  .contenedorProductCart{
    margin-top: 30px;
}

  @media (min-width: 769px){

    .contenedorProductCart{
        margin-top: 110px;
    }

}