/*---- 
---- 
---
📱 VERSIÓN MOBILE 📱 ------------------------------------------------------------------->>> : 
---
----
------*/

/*<-- MOBILE: OCULTAR HEADER VERSIÓN DESKTOP -->*/
.mainHeader{
    display: none;
}

/*<-- MOBILE: HEADER -->*/
.mobMainHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(2, 43, 58);
    width: 100%;
    height: 150px;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
    transition: 1s;
}

.mobMainHeaderAmpliado{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(2, 43, 58);
    width: 100%;
    height: 276px;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
}

/*<-- MOBILE: LOGO -->*/
.mobLogoPrincipal{
    max-width: 100vh;
    margin: 5px 0px 5px 10px;
    max-height: 68px;
}

/*<-- MOBILE: BÚSQUEDA -->*/
.mobBusqueda{
    width: 35%;
    min-width: 210px;
    height: 30px;
    background-color: white;
    margin: auto 0 auto 0;
    display: flex;
    border-radius: 10px;
}
.mobBusqueda i{
  margin: auto auto auto 6px;
}
.mobBusqueda p{
    margin: auto 20px;
    font-size: 13px;
    color:#3b5964 ;
} 
.mobSearch{
    width: 95%;
    height: 25px;
    border: none;
    margin-top: 2.5px;
}



/*<-- MOBILE: BOTÓN SOLO MOBILE -->*/
.botonMenuMobile{
    background-color: #1F7A8C;
    display: block;
    width: 45px;
    height: 45px;
    padding: 6px;
    border-radius: 100%;
    text-align: center;
    margin: auto;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.73); 
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.73);
    position: relative;
    top: 18px;
    transition: 1s;
}
.botonMenuMobileRot{
    background-color: #1F7A8C;
    display: block;
    width: 45px;
    height: 45px;
    padding: 6px;
    border-radius: 100%;
    text-align: center;
    margin: auto;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.73); 
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.73);
    position: relative;
    top: 18px;
    transform: rotate(90deg);
}
.botonMenuMobile i{
    font-size: 28px;
    color: #022B3A;
    position: relative;
    left: -1px;
    top: 2px;
}

/* Ocultar o mostrar el logo de profile de acuerdo a si de ejecuta 
el javascript del menú hamburguesa: */
.logoHeaderProfile{
    font-size: 35px;
    color: white;
    margin: 10px auto 10px auto;
    display: none;
    transition: 1s;
}
@keyframes baliza {
    from {color: rgb(255, 255, 255);}
    to {color: #022B3A;}
}
.logoHeaderProfileShow{
   font-size: 35px;
    color: white;
    margin: 10px auto 10px auto;
    display: flex;
    transition: 1s;
    animation: baliza 2s infinite;
    animation-direction: reverse;
}
.userLogHelp{
    display: none; /* APAGADO */
    color: white;
    font-family: 'Lato', sans-serif;
    transition: 1s;
    animation: baliza 2s infinite;
    animation-direction: reverse;
}
.userLogHelpNo{
    display: flex; /* PRENDER */
    color: white;
    font-family: 'Lato', sans-serif;
    transition: 1s;
    animation: baliza 2s infinite;
    animation-direction: reverse;
}

/*<-- MOBILE: IMAGEN USUARIO LOGUEADO -->*/

.mobProfileUser{
    display:block;
    margin: 10px auto;

   
}
.mobProfileUser img{
    display: block;
    margin: auto auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;   

  }
.mobNombreUsuario{
    display: block;
    width: 100%;
    margin: auto auto 15px auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
}
.barraProfile{
     display: none; /* APAGAR */
      width: 100%;
      height: 100%;   
      transition: 1s;

}
.barraProfileOff{
    display: block; /* PRENDER */
    width: 100%;
    height: 100%;
    transition: 1s;
}
.barraProfile ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    list-style: none;

}
  .mobLinksUsuario{
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding:4px 8px;
    display:block;
    color: whitesmoke;
    font-size: 12px;
    background-color: #1F7A8C;
    border-radius: 10px;
  }

  .apaEnce{
   display:none; 
}
  
 
/*<-- MOBILE: FOOTER -->*/
footer{
    background-color: #e1e5f2;
    height: 160px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column; 
    justify-content: space-around;
    margin: 10px 0 0 0;
    z-index: 100;
}
.footerLinks{
    margin: 20px 0 auto 0;
}
.footerLinks ul li {
    color: black;
    list-style: none;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 0 ;
    transition: 1s;
}
.footerLinks ul li :hover {
    color:rgb(226, 135, 15)
}
.redesSociales{
    color: black;
    text-align: center;
    font-size: 24px;
    margin: 5px auto 15px auto;
}
.redesSociales a {
    padding: 0 6px;
    color: black;
}
.footerNoc{
    background-color:#022B3A !important ;
}



/*---- 
---- 
---
📱 TABLET Y DESKTOP: 💻  ------------------------------------------------------------------->>> : 
---
----
------*/

@media (min-width: 750px){


/*<-- DSK: HEADER TODO -->*/
.mainHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(2, 43, 58);
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
}

/*<-- DSK: HEADER TODO -->*/
.mainHeaderNoTransp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(2, 43, 58);
    transition: 2s; 
    justify-content:space-around;
}


/*<-- DSK: LOGO -->*/
.logoPrincipal{
    max-width: 100vh;
    margin: auto 0px auto 10px;
    max-height: 68px;
  
}

/*<-- DSK: BÚSQUEDA -->*/
.busqueda{
    width: 35%;
    min-width: 210px;
    height: 30px;
    background-color: white;
    margin: auto 0 auto 0;
    display: flex;
    border-radius: 10px;
}
.busqueda i{
  margin: auto;
  margin-right: 20px;
}
.busqueda p{
    margin: auto 20px;
    font-size: 13px;
    color:#3b5964 ;
} 
.search{
    width: 95%;
    height: 25px;
    border: none;
    margin-top: 2.5px;
}


/*<-- MOBILE: HEADER SOLO MOBILE -->*/
.mainHeaderMobile{
    display: block;
    max-width: 100%;
    background-color: #022B3A;
    padding: 10px 0;
}

/*<-- MOBILE: MODO NOCHE -->*/

.apaEnce{
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    
}
  .fa-toggle-on {
      color:black;
      font-size: 40px;
      cursor: pointer;
      
       
  }
  .fa-toggle-off {
    display:none;
    color: white;
    font-size: 40px;
    cursor: pointer; 
}

.modoNoc{
    background-color: black !important;
}

    .mobMainHeader{
        display:none;
    }
 

    .switchD {
        display:contents;
    }

    .searchForm{
        width: 95%;
        
    }
    .busqueda i{
       margin-left: 20px;
        margin-right: 20px;
        color: rgb(128, 128, 128);
      }
    
    .search{
        width: 95%;
        height: 25px;
        border: none;
        margin-top: 2.5px;
    }
    .mainHeaderMobile{
        display: none;
 }

/*<-- DESKTOP: HEADER -->*/
.mainHeader{
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(2, 43, 58, 0.5);
    transition: 2s; 
    justify-content:space-around;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 3s; 
  }
  .sticky + .content {
    padding-top: 102px;
  }

  /*<-- DESKTOP: LOGO -->*/
.logoPrincipal{
    max-width: 250px;
    margin: auto 0px auto 10px;
    max-height: 68px;
    transition: 2s;
}


/*<-- DESKTOP: BOTÓN MOBILE -->*/
.botonMenuMobile{
    display: none;
}

/*<-- DESKTOP: SEARCH -->*/
.searchForm{
    width: 95%;
}
.busqueda i{
   margin-left: 20px;
    margin-right: 20px;
  }
.search{
    width: 95%;
    height: 25px;
    border: none;
    margin-top: 2.5px;
}

/*<-- DESKTOP: PERFIL USUARIO EN BARRA -->*/
.logoHeaderProfile{
    font-size: 35px;
    color: white;
    margin: 10px auto 10px auto;
    display: block;
    margin: auto 0px auto 0px;
}

/*<-- DESKTOP: IMAGEN USUARIO LOGUEADO -->*/
/* .profileUser{
    width: 80%;
   margin-right: 20px;
   
}
.profileUser img{
    width: 50px;
    height: 50px;
    border-radius: 50%;   
  }
  .barraProfile{
      display: none;
  }
.profileUser{
    width: 30%;
}
.profileUser img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
} */
.loginCarrito {
    display: flex;  
    color: white;
    margin: auto 20px auto 0px ;
    justify-content:center;
}
.profileUser{
    width: 60px;
    text-align: center;
    display: none;
   
}
.profileUser img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
  }
.barraProfile{
    display: block;
    margin-top: 10px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    
}
  .barraProfile li a{
    padding:10px 12px;
    display:block;
    background-color: rgba(129, 212, 250, 0.459);
    color: white;
    font-size: 17px;
  }
  .barraProfile li a:hover{
    background-color:#4343438c;
  }
  .barraProfile > ul{
      float: right;
  }
  .barraProfile li ul{
      display: none;
    position: absolute;
    min-width:130px;
    list-style: none;
  }
  .barraProfile  li:hover > ul {
      display: block;
  } 
  
/*<-- DESKTOP: GENÉRICO LISTAS -->*/
li{
    list-style: none;
}

/*<-- DESKTOP: FOOTER -->*/
footer{
    background-color: #e1e5f2;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    margin: 10px 0 0 0;
}

.footerLinks{
    display: block;
    margin: 20px auto auto auto;
}
.footerLinks ul li {
    font-size: 13px;
    font-weight: 200;
}

.redesSociales{
    display: inline-block;
    margin: auto auto;
}


}

@media (min-width: 850px){
    .profileUser{
        display: block;
    }

}