/* >>> Recordar que en la style.css hay un reset de margin, padding y border-box a 0 */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile: */

.indexCont1Imagen{
display: none;
}

.indexCont1Texto{
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: block;
    margin: 30px auto 10px auto;
    padding: 5px auto;
    color: rgb(80, 80, 80);
    top: 90px;
}

.indexCont1SubTexto{
    text-align: center;
    font-size: 15px;
    display: block;
    margin: 10px auto;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color:  rgb(109, 109, 109)
}



.productIndArticulos{
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 0px;
}

.tarjetaProducto{
    background-color: white;
    margin: 20px 5px;
    border-radius: 0px;
    width: 300px;
    max-height: 380px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    opacity: 0.9;
}

.overlayTarjetaProducto{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100.2%;
    width: 100%;
    opacity: 0.7; 
    transition: .5s ease;
    background-color: #022b3a;
    z-index: 100;
    flex-direction: column;
    display: flex;
    justify-content: space-around;

}




/* .productIndArticulos article:hover{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.1);   
} */

/* Imagen tarjeta */
.imagenTarjeta{
    height: 250px;
    width: 100%;
    opacity: 0.9;
}
/* Pie de imagen: */
.productIndArticulos article ul {
    display: block;
    padding: 5px 20px;
    background-image: linear-gradient(180deg,#eeeeeec2,#ffffffbd);
    transition: 2s;
}
.productIndArticulos article ul:hover {
    background-image: white;
}


/* General: listado con precio, cuotas y envío: */
.productIndArticulos article ul li{
    list-style: none;
    display: block;
}
/* Nombre producto: */
.nombreProducto{
    color: rgb(71, 71, 71);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 7px 0;
    height: 60px;
    padding: 10px 0 10px 0;
    z-index: -1;
}
/* Precio producto: */
.precioProducto{
    color: rgb(44, 44, 44);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0 5px 0;
}
/* Cuotas producto: */
.cuotasProducto{
    display: block;
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: auto auto;
}
.envioProducto{
    display: block;
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: auto auto;

}

.imagenProducto{
    display: block;
    width: 260px;
    height: 250px;
    margin: 15px auto;
}
.imagenProducto img{
    max-width: 250px;
    max-height: 250px;
    margin: auto auto;
    display: block;
}



.titleAllProducts{
    font-size: 20px;
    font-weight: bold;
    color:black;
}

.editProduct{
   padding: 10px;
   cursor: pointer;
}

.deleteProdutc{
    padding: 10px;
    margin-left: 110px;
    margin-top: 5px;
    cursor: pointer;
}

.allproductConteinerCard{
    margin: auto;
    margin-bottom: 20px;
}

/* Botón de editar producto en allProducts.ejs: */
.modifyEditar{
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto auto;
}
/* Botón de eliminar producto en allProducts.ejs: */
.modifyEliminar{
    display: block;
    border-radius: 12px;
    transition-duration: 0.4s;
    border-style: none;
    margin: auto auto 30px auto; 
    font-size: 16px;
    font-weight: 200;
    width: 120px;
    height: 35px;
    text-align: center;
}

/*---- 
---- 
---
💻 TABLET Y DESKTOP: 💻 : 
---
----
------*/

@media (min-width: 750px){
.granContenedorProductIndex{
    display: block;
    /* margin-top: 200px; */
}

    /* Imagen de fondo */
    .indexCont1Imagen{
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        opacity: 0.8;
        position:fixed;
        z-index: -20;
    }
    .indexCont1Texto{
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 70px;
        font-weight: 200;
        position: relative;
        display: block;
        margin: auto auto;
        color: white;
        z-index: 1;
        margin: auto auto;
        width: 100%;
        top: 0px;
        text-shadow: 3px 3px 10px #303030;
    }
    .indexCont1SubTexto{
        color: white;
        position: relative;
        top: 0px;
        width: 100%;
        text-shadow: 3px 3px 10px #303030;
        }
    .mainProductIndex{
        margin-top: 0px;
    }
    .productIndArticulos{
        padding-top: 10px;
    }
    .overlayTarjetaProducto{
        opacity: 0; 
    
    }
    .overlayTarjetaProducto:hover{
        opacity: 1;
    }
   
    
    

    


}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu muy grande: */
@media (min-width: 1280px){



}