/* >>> Recordar que en la style.css hay un reset de margin, padding y border-box a 0 */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mobile: */

.productIndBarraLat{
    display: none;
}

.productIndArticulos{
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    padding: 15px 10px 15px 10px;
}

.productIndArticulos article{
    margin: 10px 0;
    border-radius: 5px;
    max-width: 280px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.productIndArticulos article ul {
    display: block;
    padding: 5px 20px;
}

.productIndArticulos article ul li{
    list-style: none;
    display: block;
}

.precioProducto{
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0 0 0;

}

.cuotasProducto{
    color: rgb(15, 91, 179);
    font-size: 10px;
    font-weight: 100;
    padding: 2px 0 7px 0;
}

.nombreProducto{
    font-size: 14px;
    font-weight: 200;
    padding: 7px 0;
}

.envioProducto{
    color: rgb(63, 168, 21);
    font-size: 10px;
    font-weight: 100;
    padding: 7px 0;
    text-align: right;
}

.imagenProducto{
    display: inline-block;
    width: 100%;
    height: 50%;
    margin: 2px auto;
}
.imagenProducto img{
    width: 100%;
    height: 100%;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablet: */
@media (min-width: 481px){



}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu normal: */
@media (min-width: 769px){

.mainProductIndex{
    margin-left: 200px;
}

.productIndBarraLat{
    display: inline-block;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: -50;
    top: 0;
    left: 0;
    background-color: #022B3A;
    overflow-x: hidden;
    padding-top: 105;
}

.productIndBarraLat ul{
    padding: 150px 0 0 0;   
}

.productIndBarraLat ul li{
    display: block;
    color:white;
    list-style: none;
    text-align: left;
    border-radius: 5px;
    margin: 15px 15px;
    transition: 1s;
    background-color: #1F7A8C;
}

.productIndBarraLat ul li :hover{
    background-color: greenyellow;
}

.latEnvioProducto{
    font-size: 12px;
    padding: 10px 15px; 
}

.latCuotasProducto{
    font-size: 12px;    
    padding: 10px 15px;
}

.latDisponibleProducto{
    font-size: 12px;
    padding: 10px 15px;
}

.productIndBarraLat ul li i{
    color: white;
    font-size: 20px;
    display: block;
    margin: auto;
    padding: 5px 0;
}

}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Compu muy grande: */
@media (min-width: 1280px){



}