<header  class="sobreElProducDesk0">
    <section class="sobreElProducDesk">
        <article>
            <h5 class="subTituloSobreDesk">Características generales</h5>
        </article>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Marca:</p>
            <p class="sobreElProducDeskP1">Panther Pro</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Model:</p>
            <p class="sobreElProducDeskP1">BF102</p>
        </section>
        <article>
            <h5 class="subTituloSobreDesk">Confort</h5>
        </article>
        <section class="sobreElProducDesk1 formDesk">
           <p class="sobreElProducDeskP">Con manubrio ajustable</p>
            <p class="sobreElProducDeskP1">Si</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Con asiento ajustable</p>
            <p class="sobreElProducDeskP1">Si</p>
        </section>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Con correa de pedal ajustable</p>
            <p class="sobreElProducDeskP1">Si</p>
        </section>
        <article>
            <h5 class="subTituloSobreDesk">Tecnología</h5>
        </article>
        <section class="sobreElProducDesk1 formDesk">
           <p class="sobreElProducDeskP">Con computadora</p>
            <p class="sobreElProducDeskP1">Si</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Funciones de la computadora</p>
             <p class="sobreElProducDeskP1">Calorias. Distancias. Scan</p>
         </section>


    </section>

    <section class="sobreElProducDesk01">
        <article>
            <h5 class="subTituloSobreDesk">Especificaciones</h5>
        </article>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Tipo de bicicleta</p>
            <p class="sobreElProducDeskP1">Spinning</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Tipo de resisten</p>
            <p class="sobreElProducDeskP1">Mecanico</p>
        </section>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Peso máximo soportado</p>
            <p class="sobreElProducDeskP1">100 kg</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Peso del volante de inercia</p>
            <p class="sobreElProducDeskP1">5 kg</p>
        </section>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Material de la estructura</p>
            <p class="sobreElProducDeskP1">Acero</p>
        </section>
        <article>
            <h5 class="subTituloSobreDesk">Peso y dimensiones</h5>
        </article>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Largo</p>
            <p class="sobreElProducDeskP1">85 cm</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Ancho</p>
            <p class="sobreElProducDeskP1">45 cm</p>
        </section>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Largo</p>
            <p class="sobreElProducDeskP1">85 cm</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Altura</p>
            <p class="sobreElProducDeskP1">102 cm</p>
        </section>
        <section class="sobreElProducDesk1 formDesk">
            <p class="sobreElProducDeskP">Largo</p>
            <p class="sobreElProducDeskP1">85 cm</p>
        </section>
        <section class="sobreElProducDesk1 firmDesk1">
            <p class="sobreElProducDeskP">Peso</p>
            <p class="sobreElProducDeskP1">100 cm</p>
        </section>
       
    </section>
  
    </header>