<footer>
  <!--Aca iría pie de web estandarizado con links y redes-->
  <div class="footerLinks">
    <ul>
      <li>Preguntas frecuentes</li>
      <li>Quienes somos</li>
      <li>Contacto</li>
      <li>Dirección</li>
    </ul>
  </div>
  <!-- <nav class="apaEnce">
    <i class="fas fa-toggle-on switchD"></i>
    <i class="fas fa-toggle-off switchN"></i>
  </nav> -->
  <div class="redesSociales">
    <a href="#"><i class="fab fa-whatsapp"></i></a>
    <a href="#"><i href="#" class="fab fa-facebook"></i></a>
    <a href="#"><i href="#" class="fab fa-instagram"></i></a>
  </div>
</footer>
