<header class="mainHeader">
    <!--A partir de acá va la parte superior del header con logo, buscador y login-->
    <div class="mainHeaderTop">
        <img src="./images/tgym_logos-03.png" class="logoPrincipal">
        <nav class="busqueda">
            <p>Buscar en Tienda Gym</p><i class="fas fa-search"></i>
        </nav>
        <nav class="loginCarrito">
            <a href="./login"><i class="fas fa-user-circle">
                </i></a>
            <a href="./productCart"><i class="fas fa-shopping-cart">
                </i></a>
        </nav>
    </div>
    <!--A partir de acá va la parte inferior del header con menu para la version desktop -->
    <nav class="mainHeaderBottom">
        <ul class="menuInferior">
            <li>Noticias</li>
            <li>Ofertas</li>
            <li>Hogar</li>
            <li>Empresas</li>
        </ul>
    </nav>
    <!--Dejo botón para versión mobile: -->
    <div class="mainHeaderMobile">
        <a href="#" class=botonMenuMobile>
            <i class="fas fa-dumbbell"></i>
        </a>
    </div>
</header>

<!--Aca está el header de web estandarizado, a importar en las páginas que lo necesiten-->