<section class="menuLateral">
    <article class="optionsMenu">
      <ul>
        <a href="../construction"><li>Noticias</li></a>
        <a href="../construction"><li>Ofertas</li></a>
        <a href="../construction"><li>Hogar</li></a>
        <a href="../construction"><li>Empresas</li></a>
        <a href="../construction"><li>Login</li></a>
        <a href="../construction"><li>Ayuda</li></a>
      </ul>
    </article>
</section>