<article class="tarjetaProducto">
    <div class="imagenProducto"><img src="./images/bici-fija-panther-pro-bf102.jpg"></div>
    <ul>
        <li class="precioProducto"><%= item.precio %></li>
        <li class="cuotasProducto"><%= item.cuotas %></li>
        <li class="nombreProducto"><%= item.nombre %></li>
        <li class="envioProducto"><%= item.nombre %></li>
    </ul>
</article>

