<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="bodyHome">

  <!-- PARCIAL: HEADER -->
  <%- include('../partials/header') %>

  <!-- MAIN -->
  <main>

    <!-- PARCIAL: MOBILE - MENÚ LATERAL -->
    <%- include('../partials/menuLateral') %>

    <!-- HOME CONTENEDOR 1 -->
    <section class="homeCont1">

      <!--Imagen lateral-->
      <div class="homeCont1Imagen">
      </div>

      <!--Título-->
      <div class="homeCont1Titulo textoInspira">
        Cambiá tu ritmo con Tienda GYM
      </div>

      <!--Sub título-->
      <div class="homeCont1SubTitulo">
      </div>

      <!--Video-->
      <video autoplay muted loop class="videoCarrousel">
        <source src=".\videos\pexels-mart-production-7884024.mp4" type="video/mp4" />
      </video>

      <!--Botones-->
      <!-- <div class="botonHome">
              <button type="button"> Registrarme </button>
            </div> -->

    </section>

    <!--HOME CATEGORÍAS PRODUCTOS-->
    <section class="homeGrillaProductos">

      <div class="titulosDivisor">
        <h1>
          Productos
        </h1>
        <h2>
          Encuentra entre más de mil productos para tu bienestar
        </h2>
      </div>

      <article>
        <img src="./images/pexels-karl-solano-2780762.jpg" class="imagenesCategorias" />
        <a href="./productIndex/yoga">
          <ul class="sobreCategorias">

            <li>Funcional, pilates y yoga</li>
            <!-- <li>Equilibra tu cuerpo y tu mente con los mejores elementos para ser un yogui</li> -->

          </ul>
        </a>
      </article>

      <article>
        <img src="./images/pexels-victor-freitas-685531.jpg" class="imagenesCategorias" />
        <a href="./productIndex/barras">
        <ul class="sobreCategorias">
            <li>Pesas, discos y barras</li>
          </ul>
        </a>
      </article>

      <article>
        <img src="./images/pexels-cottonbro-7690207.jpg" class="imagenesCategorias" />
        <a href="./productIndex/maquinas">
        <ul class="sobreCategorias">
            <li>Máquinas</li>
          </ul>
        </a>
      </article>

      <article>
        <img src="./images/pexels-cottonbro-4761352.jpg" class="imagenesCategorias" />
        <a href="./productIndex/indumentaria">
        <ul class="sobreCategorias">
            <li>Indumentaria</li>
          </ul>
        </a>
      </article>
    </section>

    <!-- HOME CONTENEDOR 3 -->
    <section class="homeCont3">

      <!--Imagen superior en divisor-->
      <div class="imagenDivisorTop">
        <img src="./images/silueta ejercicio.png">
      </div>

      <!--Título-->
      <div class="homeCont3Titulo">
        Un paso más cerca de tu bienestar
      </div>

    </section>

    <!--HOME CONTENEDOR 4-->
    <section class="homeCont4">

      <div class="titulosDivisor">
        <h1>
          Compra online
        </h1>
        <h2>
          Autogestiona tu compra y recibe los productos en tu hogar
        </h2>
      </div>

      <article>
        <img src="./images/search.png" class="imagenesEnvios" />
        <a href="/productIndex/desatcado">
        <ul class="sobreCategorias">
            <li>Busca el producto</li>
            <!-- <li>Equilibra tu cuerpo y tu mente con los mejores elementos para ser un yogui</li> -->
          </ul>
        </a>
      </article>

      <article>
        <img src="./images/shopping-cart.png" class="imagenesEnvios" />
        <a href="/productCart">
        <ul class="sobreCategorias">
            <li>Agregalo al carrito</li>
          </ul>
        </a>

      </article>
      <article>
        <img src="./images/credit-card.png" class="imagenesEnvios" />
        <a href="#">
        <ul class="sobreCategorias">
            <li>Gestiona el pago</li>
          </ul>
        </a>
      </article>

      <article>
        <img src="./images/package-box.png" class="imagenesEnvios" />
        <a href="#">
        <ul class="sobreCategorias">
            <li>Elige el envío</li>
          </ul>
        </a>
      </article>
    </section>

    </section>

    <!--
        <section class="homePreFooter">
                <img src="./images/pexels-mikhail-nilov-6740821.jpg" class="imagenPreFooter">
        </section>
        -->
  </main>
  <%- include('../partials/footer') %>
  <script src="/js/home.js"> </script>
  <script src="/js/homeFadeIn.js"> </script>
  <script src="/js/header.js"> </script>
</body>

</html>