<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda GYM, tu bienestar online</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <!-- <script src="/js/menuHamburguesa.js"></script> -->
    <script src="/js/validacionForm.js"></script>
    <script src="/js/modoNocturno.js"></script>
</head>

  <body>
    <!--VIDEO DE FONDO -->
    <video autoplay muted loop class="myVideo">
      <source src=".\videos\vid-funcional-4761426.mp4" type="video/mp4" />
    </video>

    <!--Comienza main de la web con el formulario de login -->
    <main class="mainLogin">
      <div class="formLogin">
        <form action="/login" method="POST" class="formValidationLogin">
          <a href="./"><img class="logoHeaderLogin" src=".\images\tgym_logos-09.png" alt="No encontre Imagen" /></a>
         
          <!--ERRORES de validación (viene de public/js/validacionForm.js) -->
          <div class="errores">
            <ul> </ul>
          </div>

          <!--INPUT MAIL -->
          <div>
            <label>Ingrese email</label>
          </div>
          <div>
            <input class="emailL" type="text" name="email" />
          </div>
          <% if (locals.errors && errors.email) { %>
            <div class="msg-errors">
              <%= errors.email.msg %>
            </div>
            <% } %>
          <!--INPUT CONTRASEÑA -->
          <div>
            <label>Contraseña</label>
          </div>
          <div>
            <input class="contrasenia" type="password" name="password" />
          </div>
          <% if (locals.errors && errors.password) { %>
            <div class="msg-errors">
              <%= errors.password.msg %>
            </div>
            <% } %>
          <!--INPUT RECORDARME -->
          <div class="checkbox">
            <input type="checkbox" name="recordame" id="" />
            <label>Recordarme</label>
          </div>
          <!--BOTONES -->
          <div>
            <button type="reset" class="loginBotonTipo1">Borrar</button>
            <button type="submit" class="loginBotonTipo1">Continuar</button>
          </div>
          <div>
            <a href="./register"><button type="button" class="loginBotonTipo2">
                Registrarse
              </button></a>
          </div>
          <!--OTROS LINKS -->
          <div class="terminosLogin">
            <a href="#">Términos y condiciones</a>
            <a href="./"> - Volver al sitio</a>
          </div>
        </form>
      </div>
    </main>
    <!--CONECTO CON EL ARCHIVO DE VALIDACIÓN EN FRONT -->
    <script src="/js/validacionLogin.js"> </script>

  </body>

</html>