<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <!--VIDEO DE FONDO -->
    <video autoplay muted loop class="myVideo">
      <source src=".\videos\vid-funcional-4761426.mp4" type="video/mp4" />
    </video>

    <!--Comienza main de la web con el formulario de login -->
    <main>
      <div class="formLogin">
        <form action="/login" method="POST" class="formValidationLogin">
          <a href="./"><img class="logoHeaderLogin" src=".\images\tgym_logos-09.png" alt="No encontre Imagen" /></a>
         
          <!--ERRORES de validación (viene de public/js/validacionForm.js) -->
          <div class="errores">
            <ul> </ul>
          </div>

          <!--INPUT MAIL -->
          <div>
            <label>Ingrese email</label>
          </div>
          <div>
            <input class="emailL" type="text" name="email" />
          </div>
          <!--INPUT CONTRASEÑA -->
          <div>
            <label>Contraseña</label>
          </div>
          <div>
            <input class="contrasenia" type="password" name="password" />
          </div>
          <!--INPUT RECORDARME -->
          <div>
            <label>Recordarme</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" name="recordame" id="" />
          </div>
          <!--BOTONES -->
          <div>
            <button type="reset" class="loginBotonTipo1">Borrar</button>
            <button type="submit" class="loginBotonTipo1">Continuar</button>
          </div>
          <div>
            <a href="./register"><button type="button" class="loginBotonTipo2">
                Registrarse
              </button></a>
          </div>
          <!--OTROS LINKS -->
          <div class="terminosLogin">
            <a href="#">Términos y condiciones</a>
            <a href="./"> - Volver al sitio</a>
          </div>
        </form>
      </div>
    </main>
    <!--CONECTO CON EL ARCHIVO DE VALIDACIÓN EN FRONT -->
    <script src="/js/validacionLogin.js"> </script>
  </body>

</html>